@font-face {
  font-family: "Montserrat-Regular";
  src: url(../fonts/Montserrat-Regular.ttf);
}
@font-face {
  font-family: "Montserrat-SemiBold";
  src: url(../fonts/Montserrat-SemiBold.ttf);
}
@font-face {
  font-family: "Montserrat-Black";
  src: url(../fonts/Montserrat-Black.ttf);
}
@font-face {
  font-family: "Mitr-Light";
  src: url(../fonts/Mitr-Light.ttf);
}
* {
  margin: 0;
  padding: 0;
}

html,
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.wrap {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.before-header {
  display: flex;
  justify-content: space-between;
}

.bheader-hr {
  border-top: 1px solid #CCC;
}

.bheader-contact {
  display: flex;
  gap: 20px;
  margin: 17px 0;
}

.bheader-content-elem {
  display: flex;
  gap: 10px;
  align-items: center;
}
.bheader-content-elem a {
  text-decoration: none;
  color: #000;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 15px;
  text-wrap: wrap;
}

.bheader-buttons {
  display: flex;
  gap: 20px;
  align-items: flex-start;
  margin: 17px 0;
}
.bheader-buttons a:hover {
  opacity: 0.8;
  transition: opacity 0.3s ease;
}

.bheader-button {
  background-color: #001581;
  color: #fff;
  font-family: "Montserrat-SemiBold", sans-serif;
  padding: 6px 25px;
  border-radius: 4px;
  transition: opacity 0.3s ease;
  text-decoration: none;
}
.bheader-button:hover {
  opacity: 0.8;
  transition: opacity 0.3s ease;
}

header {
  background-color: #fff;
  box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.25);
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

nav ul {
  display: flex;
  gap: 20px;
}
nav li {
  list-style-type: none;
  font-family: "Montserrat-Regular", sans-serif;
}
nav a {
  text-decoration: none;
  color: #000;
  transition: opacity 0.3s ease;
}
nav a:hover {
  opacity: 0.8;
  transition: opacity 0.3s ease;
}

section {
  padding-top: 100px;
}

.headers-h2 {
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 52px;
  margin-bottom: 60px;
}

.catalog-cards {
  display: flex;
  -moz-column-gap: 12px;
       column-gap: 12px;
  row-gap: 60px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.catalog-card h3 {
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 24px;
  margin: 15px 0 10px;
}
.catalog-card a {
  text-decoration: none;
  padding: 20px 40px;
  background-color: #001581;
  color: #fff;
  font-family: "Montserrat-SemiBold", sans-serif;
  border-radius: 4px;
  transition: opacity 0.3s ease;
}
.catalog-card a:hover {
  opacity: 0.8;
  transition: opacity 0.3s ease;
}

.catalog-card-desc {
  display: flex;
  gap: 35px;
}

.catalog-card-desc-elem {
  display: flex;
  gap: 10px;
  align-items: center;
}
.catalog-card-desc-elem p {
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 15px;
}

.slogan {
  margin-top: 100px;
  background-color: #151D46;
  color: #fff;
  padding-top: 0;
}

.slogan-main {
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 52px;
  color: #fff;
}
.slogan-main span {
  font-family: "Mitr-Light", sans-serif;
}

.slogan-gradient {
  font-family: "Montserrat-Black", sans-serif;
  font-size: 75px;
  background: radial-gradient(circle at center, #6385FD, #fff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.slogan-clear {
  font-family: "Montserrat-Black", sans-serif;
  font-size: 90px;
  text-align: center;
  color: #151D46;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}

.slogan-right-text {
  text-align: right;
}

.slogan-content {
  padding: 60px 0;
}

.advantages-cards {
  display: flex;
  justify-content: space-between;
}

.advantages-card {
  width: 15%;
  padding: 30px 15px;
  border-radius: 15px;
  box-shadow: 0 5px 0 0 rgba(255, 255, 255, 0.95), 0 30px 40px 0 rgba(0, 0, 0, 0.12);
  background: rgba(255, 255, 255, 0.6);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.advantages-card img {
  width: 80px;
  margin-bottom: 30px;
}
.advantages-card p {
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 15px;
  text-wrap: wrap;
  text-align: center;
}

.services-cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.services-button {
  margin-top: 25px;
  padding: 10px 15px;
  background-color: #001581;
}
.services-button a {
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: 20px;
  color: #fff;
  text-decoration: none;
}

.services-card-bg {
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: 150px;
  color: #fff;
  text-shadow: -1px -1px 0 #CBCBCB, 1px -1px 0 #CBCBCB, -1px 1px 0 #CBCBCB, 1px 1px 0 #CBCBCB;
}

.services-card {
  position: relative;
  width: 25%;
}

.services-card-content {
  display: flex;
  align-items: baseline;
  gap: 20px;
  position: absolute;
  top: 30%;
  left: 0;
  z-index: 1;
}
.services-card-content p {
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 36px;
}

.services-card-content-elem h3 {
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 24px;
}
.services-card-content-elem span {
  padding-top: 8px;
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: 15px;
  color: #001581;
}
.services-card-content-elem p {
  margin-top: 25px;
  font-size: 15px;
}/*# sourceMappingURL=style.css.map */